<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <title>Hearsight</title>


    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"/>

    <!-- Apply js -->
    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
<div class="wrapper">
    <!-- Header-->
    <div class="topnav" id="myTopnav">
        <a href="#about">By now</a>
        <a href="#contact">Media</a>
        <a href="#news">Features</a>
        <a href="#home" class="active">Home</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div style="padding-left:16px">
        <h2>Responsive Topnav Example</h2>
        <p>Resize the browser window to see how it works.</p>
    </div>
    <!-- End header-->
    <div layout:fragment="content">

    </div>
    <script></script>
</div>
</body>
</html>